@font-face
{
    font-family: blupi-font;
    src: url(../fonts/AbyssinicaSIL-R.ttf);
}

/* Header Contents*/

.blupi-header
{
    background: #01315a;
    height: 100px;
    margin-bottom: 10px;
}

.blupi-login-header
{
    color: #01315a;
    font-family: blupi-font;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 40px;
    vertical-align: middle;
}

.blupi-avatar
{
    padding: 5px 0px 5px 15px;
}

.blupi-logo
{
    background: linear-gradient(to right,transparent,rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.3),rgba(255,255,255,0.1),transparent);
    height: 100%;
    padding: 0 50px;
}


.blupi-nav
{
    list-style-type: none;
    padding: 0;
    margin: 5px;
    height: 90px;
    overflow: hidden;
    background-color: transparent;
    vertical-align: text-bottom;
}

.blupi-nav li
{
    float: left;
    height: 100%;
    vertical-align: text-bottom;
}

.blupi-nav li a
{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: blupi-font;
    padding: 30px 15px;
    height: 100%;
}

.blupi-nav li a:hover
{
    background: rgba(0,116,217,0.5);
}

.blupi-nav .active
{
    background: linear-gradient(#0074d9,transparent);
}

.blupi-search-form
{
    margin: 35px 25px 35px 0;
}

.blupi-search-field
{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    color: skyblue;
    background: linear-gradient(#0074d9,#014c8c);
    border: 2px solid #01549b;
}

/* Body Contents*/

.blupi-main
{
    background: linear-gradient(powderblue,silver);
}

.blupi-new-post
{
    padding: 8px;
    margin-bottom: 10px;
    font-weight: normal;
}

.blupi-post-field
{
    margin-top: 8px;
}

.blupi-post-button
{
    margin-top: 8px;
    color: #0f0f10;
}

.blupi-post-button:hover
{
    background: #1f88be;
}

.blupi-body
{
    background: silver;
    border-radius: 5px;
    padding: 8px;
}

.blupi-post
{
    background: #adadad;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.blupi-post-header
{

}

.blupi-post-name
{
    font-weight: bolder;
    font-size: large;
}

.blupi-post-date
{
    font-size: small;
}

.blupi-post-body
{
    padding: 5px;
}

.blupi-comment
{

}

.blupi-comment-name
{
    font-weight: bolder;
    font-size: large;
}

.blupi-comment-body
{
    padding-left: 15px;
}

.blupi-comment-field
{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

.blupi-comment-button
{
    margin-top: 5px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
}

.blupi-comment-button:hover
{
    background-color: silver;
}


/* Sidebar */

.blupi-sidebar-header
{
    background: #014c8c;
    color: white;
    font-family: blupi-font;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 24px;
}

.blupi-sidebar-form-toggle
{
    position: absolute;
    z-index: 1;
    padding: 4px;
}

.blupi-sidebar-item
{
    width: 100%;
}

.blupi-sidebar-item button
{
    margin-left: 5px;
    border: none;
    opacity: 0.5;
}

.blupi-sidebar-item button:hover
{
    opacity: 1;
}

.blupi-sidebar-body
{
    background: #9d9d9d;
    color: black;
    font-family: blupi-font;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: justify;
}

.blupi-sidebar-circle
{
    font-size: 110%;
}

.blupi-sidebar-circle:hover
{
    background: #0d71bb;
    color: white;
    text-decoration: none;
}

.blupi-sidebar-form
{
    background: linear-gradient(#2e6da4,#9d9d9d);
    color: black;
    font-family: blupi-font;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: justify;
    margin-bottom: 5px;
}

.blupi-footer
{
    background: #01315a;
    height: 70px;
    margin-top: 5px;
    width: 100%;

    position: relative;
    bottom: 0px;
}

.blupi-footer-nav
{
    padding-top: 10px;
    color: #0074d9;
}

.blupi-footer-copyright
{
    color: silver;
}

.box
{
    padding: 0 0 0 10px;
}

.blupi-a
{
    color: #025aa5;
}

.blupi-a:hover
{
    color: #0074d9;
}

.blupi-admin-content-header
{
    background: #43a7fd;
    border-radius: 5px 5px 0px 0px;
    font-family: blupi-font;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

.blupi-admin-content-body
{
    background: lightgray;
    border-radius: 0px 0px 5px 5px;
    font-family: blupi-font;
    font-size: 14px;
    padding: 3px 3px 3px 5px;
}


.blupi-mail-icon
{
    opacity: 0.8;
    cursor: pointer;
}

.blupi-mail-icon:hover
{
    opacity: 1;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.blupi-message-header
{
    background: #adadad;
    border-radius: 5px;
    margin-bottom: 8px;
}

.blupi-search-result
{
    border: solid;
    border-width: 0.1px;
    border-color: #CCC;
    width: 100%;
}

.blupi-search-result-item
{
    padding-left: 5px;
    cursor: pointer;
}

.blupi-search-result-item:hover
{
    background: #CCF;
}

.blupi-paginate
{
    background: none; 
    border: none;
    padding: 0;
    color: #833;
}

.blupi-paginate:disabled
{
    color: #888;
}
